[Desktop Entry]
Type=Application
Name=gh-desktop
GenericName=GitHub client
Comment=Triage, investigate, and admin your GitHub repos
Exec=gh-desktop %U
Icon=gh-desktop
Terminal=false
Categories=Development;RevisionControl;Network;
Keywords=github;git;issues;pull request;discussion;
StartupNotify=true
